.app-toast {
  position: fixed;
  top: 5rem;
  right: 1rem;
  z-index: 1000;
  &-header {
    &__green {
      color: #198754 !important;
    }
    &__red {
      color: #dc3545 !important;
    }
  }
}
