.col-recipients {
  margin-top: 2.625rem !important;
}
.dashboard-card {
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(70, 80, 87, 0.3);
  padding: 1rem;

  &__recent-recip {
    margin-top: 2.625rem !important;
  }
}
