.trophy-case-box {
  border: ridge 6px #9c7550;
  padding: 3em 0;
  background-color:rgb(219, 216, 212);
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // padding: 1em auto;
  // flex-wrap: wrap;
  // justify-content: flex-start;

}

.trophy-case-headline {
  color: rgb(56, 56, 54);
  text-align: center;
  // font-family: fantasy;
}