.layout-container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 10rem;
  background-image: url("/images/layered-waves.svg");
  background-repeat: no-repeat;
  background-position-y: calc(100% - 10rem);
}

@media (min-width: 992px) {
  .layout-container {
    background-size: contain;
  }
}
